
<body>
    <h2>Welcome to BaseCamp <%= link_to current_user.username, user_path(current_user.id) %></h2>
    <p>You are a [<%= current_user.role %>]</p>
    <% if current_user.admin? %>
        There are <%= User.count %> user in the system
    <% end %>
    <%= link_to 'Toggle Role', toggle_role_path, method: :get %>

</body>

