/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "rails_bootstrap_forms";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #5673e6;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}

html,body,div,applet,object,iframe,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

/*
** The Header Media Queries **
** Tweak as per your needs **
*/
.brand {
    font-weight: bold;
    font-size: 20px; }

  .site-header {
    position: relative;
    background-color: #def7ff; }

  .site-header__end {
    display: flex;
    align-items: center; }

  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media (min-width: 800px) {
      .site-header__wrapper {
        padding-top: 0;
        padding-bottom: 0; } }
  @media (min-width: 800px) {
    .nav__wrapper {
      display: flex; } }

  @media (max-width: 799px) {
    .nav__wrapper {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: #d9f0f7;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
      .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); } }

  .nav__item a {
    display: block;
    padding: 1.5rem 1rem; }

  .nav__toggle {
    display: none; }
    @media (max-width: 799px) {
      .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem; } }
  .search {
    display: flex; }

  .search__toggle {
    appearance: none;
    order: 1;
    font-size: 0;
    width: 34px;
    height: 34px;
    background: url("../img/header-3/search.svg") center right/22px no-repeat;
    border: 0; }
    @media (min-width: 800px) {
      .search__toggle {
        border-left: 1px solid #979797;
        padding-left: 10px; } }
    @media (max-width: 799px) {
      .search__toggle {
        position: absolute;
        right: 5.5rem;
        top: 0.65rem;
        background: url("../img/header-3/search.svg") center/22px no-repeat; } }
  .search__form {
    display: none; }
    .search__form.active {
      display: block; }
    @media (max-width: 799px) {
      .search__form {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: red; }
        .search__form input {
          width: 100%; } }
    .search__form input {
      min-width: 200px;
      appearance: none;
      border: 0;
      background-color: #fff;
      border-radius: 0;
      font-size: 16px;
      padding: 0.5rem; }
      @media (max-width: 799px) {
        .search__form input {
          border-bottom: 1px solid #979797; } }


          body{
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            background-color: #f3f8f8;
        }
        .project_head{
            padding: 10px 10px 0px 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .project_head a{
            text-decoration: none;
            color: black;
        }
        .project_head_end label{
            margin: 0 10px;
            padding: 5px;
        }
        .project_head_end label:hover{
            color:black;
            background-color: white;
            padding:5px;
        }

        .title{
            text-align: center;
            margin-bottom:10px;
        }

        .top{
            width: 18rem;
            text-align:center;
            padding:4px;
            font-size: 1rem;
            box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, .5);
        }

        .space{
            display: flex;
            justify-content: space-between;
        }

        .create_project{
            width: 300%;
            margin-top: 20px;
            display: inline-block;
            flex-direction: column;
            align-items: center;
        }

        .create_project .inputs{
            width: 50%;
        }

        .text_input{
            width: 100%;
            height: 25px;
            padding: 5px;
            font-size: 1em;
            border: none;
            border-bottom: 1px solid gray;
            background-color: transparent;
            outline: none;
            color: #404040;
        }
        .textarea{
            width: 100%;
            padding: 5px;
            font-size: 1rem;
            border: 1px solid gray;
            background-color: transparent;
            outline: none;
            color: #404040;
        }
        .create_project .inputs label{
            padding: 0;
        }
        .create_project .submit_button{
              margin: auto;
              padding: 10px;
              background-color: rgb(65, 111, 238);
              border: 1px solid gray;
              border-radius: 8px;
              font-size: 1.1em;
              display: flex;
              align-items: center;
            justify-content: center;
        }
        .create_project .update{
            display: flex;
            align-items: center;
            gap: 3%;
        }
        .create_project .update_button{
            padding: 10px;
            background-color: #97ecd0;
            border: 1px solid gray;
            border-radius: 8px;
            font-size: 1em;
        }




        a {
          color: inherit; /* blue colors for links too */
          text-decoration: inherit; /* no underline */
        }

        .alert-dismissible {
          //padding-left: $close-font-size + $alert-padding-x * 2;
        }






